<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a></br>
        <a href="/about">About</a></br>
        <a href="/bookings">Bookings</a>
    </nav>
    {{{ body }}} 
</body>
</html>

{{!-- This folder's contents shows up on every page --}}
{{!-- The "body" is a placeholder for whatever is in the template i.e. the files in the "view" folder --}}