<main>
    <div class="about">
        <h1>About</h1>
        <p>I am a cute puppy in a blanket,
            <br> make a <a class="link" href="/bookings">booking</a> to come meet me!</p>
    </div>
</main>